.questions {
    background: url('../img/bg/bg5.jpg');
    background-repeat: no-repeat;
    background-size: center/center;
    position: relative;

    &__subtitle {
        margin-bottom: 90px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 300px;
    }

    &__clouds {
        position: absolute;
        bottom: -230px;
        left: 0;
        height: 600px;
        width: 100%;
    }
}

.question {
    width: 800px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 30px 40px;  
    background: linear-gradient(90deg, #3E3E3E 0%, #232323 100%);
    border-radius: 10px;
    font-family: 'gothicBold';
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    z-index: 4;
    transition: all 0.4s;

    img {
        cursor: pointer;
        width: 40px;
        height: 40px;
        transition: all 0.5s ease;
    }


    &__item {
        display: flex;     
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.answer {
    width: 700px;
    display: flex;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    background: #E1E1E1;
    border-radius: 0 0 10px 10px;
    z-index: 2;
    margin-bottom: 30px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.active {
    transform: rotate(45deg);
}


@media (max-width: 992px) {

    .question {
        width: 700px;
    }

    .answer {
        width: 600px;
    }

  }

@media (max-width: 768px) {

    .questions {
        
        &__clouds {
        height: 400px;
        bottom: -200px;
        }

        &__block {
            margin-bottom: 180px;
        }
}

    .question {
        width: 500px;
        padding: 20px 30px;
        font-size: 16px;   

        img {
            width: 30px;
            height: 30px;
        }
     }

    .answer {
        width: 450px;
    }

  }

@media (max-width: 576px) {

    .questions {
        
        &__clouds {
        height: 300px;
        bottom: -150px;
        }

        &__block {
            margin-bottom: 100px;
        }
}


    .question {
        width: 350px;
        padding: 10px 20px;
        font-size: 12px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    .answer {
        width: 300px;
    }
  }
  

  
 
@media (max-width: 360px) {

    .questions {
        
        &__clouds {
        height: 150px;
        bottom: -70px;
        }

        &__block {
            margin-bottom: 70px;
        }
}


    .question {
        width: 300px;
        padding: 5px 10px;
        font-size: 8px;

        img {
            width: 10px;
            height: 10px;
        }
    }

    .answer {
        width: 250px;
        font-size: 8px;
    }
  }


