.result {
    background: url("../img/bg/bg4.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        text-align: center;
    }

    &__subtitle {
        text-align: center;
    }

    &__descr {
        text-align: center;
        margin: 0 auto;
        max-width: 650px;
        margin-top: 60px;
        font-style: italic;
        font-size: 17px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
    }

    &__block {
        margin-top: 130px;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;

        .itemA {
            align-self: start;
            position: relative;
            img {
                width: 150px;
                height: 150px;
                position: absolute;
                left: -80px;
                bottom: -60px;
            }
        }

        .itemB {
            position: relative;
            img {
                width: 150px;
                height: 150px;
                position: absolute;
                right: -80px;
                top: -60px;
            }
        }
    }

    &__item {
        width: 440px;
       
        margin: 20px;
        padding: 15px;
        background: #E1E1E1;
        border-radius: 11px;

        h3 {
            font-family: 'gothicBold';
            font-style: italic;
            font-size: 25px;
            line-height: 31px;
            text-align: center;
            text-transform: uppercase;
            color: #4B4B4B;
        }

        ul {
            font-size: 14px;
            line-height: 17px;    
            color: #4B4B4B; 
            list-style-type: none;

            li {
                list-style-image: url(images/Star.png);
            }
        }


    }

}

@media (max-width: 992px) {
   
}

  
@media (max-width: 768px) {
    
    .result {

        &__descr {
            font-size: 14px;
        }

        &__item {
            width: 300px;
            padding: 5px;
            margin: 10px;
        }
    }
  
}

@media (max-width: 576px) {

    .result {

        &__block {
            flex-direction: column;
        }

        &__item {

            h3 {
                font-size: 16px;
            }
        }
    }

}
 
  
@media (max-width: 360px) {
  
}